

:root{
    --mainOpacity: rgba(0, 0, 0, 0.55);
}



.main-color {
background-color: #3bafe4 ;
}


.book-div {
    width: 480px;
    height: 384px;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
 }


.carousel-item {
  position: relative;
  height: 650px; /* Adjust the height as needed */
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}



